//header nav
header {
    position: fixed;
    top: 0;
    background-color: $bg-white;
    z-index: 1;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    top: 0;
    left: 0;
    .header__nav-right {
        .menu {
            display: none;
            @media screen and (min-width: 768px) {
                display: block;
            }
        }
    }
    .item-menu-mob {
        @media screen and (min-width: 768px) {
            display: none !important;
        }
    }
    .menu-mobile {
        background-color: $bg-white;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 10px;
        position: absolute;
        right: 0;
        padding: 20px;
        text-align: right;
        box-sizing: border-box;
        z-index: 1;
        width: 100%;
        display: none;
        .menu-mobile__item {
            margin: 15px 0
        }
    }
}

.menu {
    .menu__item {
        display: none;
        margin: 0 10px;
        @media screen and (min-width: 768px) {
            display: inline;
        }
        img {
            vertical-align: middle;
        }
        &:first-child {
            display: inline !important;
        }
    }
    .menu__link {
        color: $onyx;
        padding: 10px 10px;
        &:hover {
            color: $text-white !important;
            background-color: $bg-blue;
        }
        &:focus {
            background-color: $bg-gray;
        }
    }
}

.menu__link--active {
    color: $text-blue !important;
}

//header nav
// button
.btn {
    color: $text-white;
    background-color: $bg-blue;
    padding: 15px 12px;
    text-align: center;
    font-family: $opensans;
    &:hover {
        background-color: $bg-mid-blue;
    }
    &:focus {
        background-color: $bg-gray;
    }
}

// button
//cards
.precios__precio {
    background-color: $bg-white;
    padding: 25px 35px 30px;
    .precios__title {
        font-weight: normal;
        margin: 0 0 5px;
    }
    .precios__features {
        border-top: 1px solid $bg-gray;
        border-bottom: 1px solid $bg-gray;
        margin: 15px 0;
        padding: 15px 0 15px 15px;
        min-height: 300px;
    }
    .features__item {
        margin: 10px 0;
        list-style-type: disc;
    }
    .precios_link {
        display: block;
    }
}

//card
//footer
.menu-footer__link {
    color: $text-platinium;
}

footer {
    background-color: $bg-raising-black;
    .footer {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 25px 0;
        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }
    .footer__copyright {
        @extend .menu-footer__link;
        margin-top: 15px;
        @media screen and (min-width: 768px) {
            margin-top: 0;
        }
    }
    .footer__nav {
        flex: 1;
    }
    .menu-footer__item {
        display: block;
        width: 100%;
        margin: 10px 0;
        text-align: center;
        &:first-child {
            margin-left: 0;
        }
        @media screen and (min-width: 576px) {
            display: inline;
            margin: 0 15px;
            text-align: left;
        }
    }
}

//footer